<!DOCTYPE Html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    </head>
    <body>
        <div class = "container">
            <h1>smellen <i class="fas fa-utensils"></i></h1>
            <form action = "/results" method = "GET" enctype="multipart/form-data">
                <input id = "left" type = "text" placeholder = "Type of Food" name = "food">
                <input id = "middle" type = "text" placeholder = "Location" name = "loc">
                <input id = "right" type = "submit" value = "Search">
            </form>
            <h3>This app was built for the indecisive</h3>
    
        </div>
        <div class = "display">
            
            <h2><%= data["name"]%></h2>
            <div>
            <% if(data["rating"] == 1) { %>
                <i class="fas fa-star"></i>
            <% } %>
            <% if(data["rating"] == 1.5) { %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            <% } %>
            <% if(data["rating"] == 2) { %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            <% } %>
            <% if(data["rating"] == 2.5) { %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            <% } %>
            <% if(data["rating"] == 3) { %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            <% } %>
            <% if(data["rating"] == 3.5) { %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            <% } %>
            <% if(data["rating"] == 4) { %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            <% } %>
            <% if(data["rating"] == 4.5) { %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            <% } %>
            <% if(data["rating"] == 5) { %>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            <% } %>
            </div>
            <div>
                <% if(data["price"] == '$') { %>
                <i class="fas fa-dollar-sign"></i>
            <% } %>
             <div>
                <% if(data["price"] == '$$') { %>
                <i class="fas fa-dollar-sign"></i>
                <i class="fas fa-dollar-sign"></i>
            <% } %>
             <div>
                <% if(data["price"] == '$$$') { %>
                <i class="fas fa-dollar-sign"></i>
                <i class="fas fa-dollar-sign"></i>
            <% } %>
            </div>
            <div class = "address">
                <h3><%= data["location"]["address1"]%></h3>
                <h3><%= data["location"]["zip_code"] %>, <%= data["location"]["city"] %> <%= data["location"]["state"] %></h3>
            </div>
           
                        
          
    
        </div>
        
    </body>
</html>
